<a href="https://colab.research.google.com/github/Sudhestna/OIBSIP-Task3/blob/main/SALES_PREDICTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SALES PREDICTION USING PYTHON

IMPORT LIBRARIES
1. PANDAS FOR DATA ANALYSIS
2. NUMPY FOR MATHEMATICAL ANALYSIS
3. MATPLOTLIB FOR DATA VISUALIZATION
4. SEABORN FOR DATA VISUALIZATION

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

IMPORT THE DATASET

In [ ]:
data=pd.read_csv('/content/Advertising.csv')
data.head(6)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    8.7   48.9       75.0    7.2

DROPPING UNWANTED COLUMNS

In [ ]:
data.drop(columns=["Unnamed: 0"])

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

CHECKING THE NULL VALUES

In [ ]:
data.isnull().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

DATA SHAPE

In [ ]:
data.shape

(200, 5)

In [ ]:
x=data.iloc[ : , :4]
y=data.iloc[ : ,-1]

SPLITTING THE TRAINING AND TESTING DATA

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

SHAPE OF TRAINING DATE

In [ ]:
x_train.shape,y_train.shape

((160, 4), (160,))

SHAPE OF TESTING DATA

In [ ]:
x_test.shape,y_test.shape

((40, 4), (40,))

FITTING THE MODEL

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [ ]:
y_pred=lr.predict(x_test)

R SQUARED VALUE

In [ ]:
from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred))

1.0